* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

/* body{
    background-color: #333;
 } */

.center {
    height: 0 !important;
    border: none !important;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
    width: 300px;
    height: 300px;
}

.section {
    min-height: 400px;
    
}

.front {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: url("/image/front.jpg");
    background-size: contain;
}

.front,
.back {
    width: 300px;
    height: 300px;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    flex-wrap: wrap;
    transition: transform 0.1s linear;
    border-radius: 30px;
}

/* .front img {
    height: 100%;
 } */

.front {
    transform: perspective(600px) rotateY(0deg);
}

.back {
    transform: perspective(600px) rotateY(180deg);
    background: url("/image/back.jpg");
    background-size: contain;
}

.back-content {
    width: 100%;
    margin-top: 10px;
    text-align: center;
    color: #333333;
    vertical-align: middle
}

/* .fas {
    display: block;
    margin: 20px 0;
    color: red;
    font-size: 30px;
 } */

.card:hover>.front {
    transform: perspective(600px) rotateY(-180deg);
}

.card:hover>.back {
    transform: perspective(600px) rotateY(0deg);
}

.section {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;
}

.button {
    display: flex;
    margin-top: 200px;
    margin-left: 100px;
    align-self: center;
}

.topicList {
    margin-left: 50px;
    height: 0;
}

#front {
    width: 200px;
    height: 200px;
}

#back {
    width: 200px;
    height: 200px;
}

/* .card-body {
    display: flex;
    position: absolute;
    text-align:justify ;
 }*/
  
 .text {
    margin-bottom: 200px;
 }